@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FAF9F5;
    --foreground: 15 23 42; /* slate-900 */
  }

  .dark {
    --background: 2 6 23; /* slate-950 */
    --foreground: 248 250 252; /* slate-50 */
  }
}

body {
background-color: var(--background);
  color: rgb(var(--foreground));
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
}
